.cards {
  display: grid;
  grid-template-columns: repeat(4, 330px);
  grid-gap: 20px;
  justify-content: center;
  position: absolute;
  margin: 50px;
}

.card {
  position: relative;
}

.form {
  display: none;
}

fieldset {
  border-radius: 4px;
}
