.hide-dropdown {
  display: none;
}

.show-dropdown {
  display: inline;
}

.dropdown-menu {
  position: relative;
  font-family: Arial;
  width: 170px;
  margin: 0px 10px;
}

.dropdown-title {
  width: 100%;
}
